/* ********* */
/* @VARIABLES */
/* ********* */

//Footer
// Colores
$color_footer_scLinks: #FFFFFF;
$color_footer_scLogo: #F3F3FD;
$color_footer_scTerminos: #C9CEEA;

$colorParrafo: #a3a7c5;

// Tamaños
$anchoMax: 1366px;
